<!-- index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Seizures</title>
  <link rel="stylesheet" href="/main.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

  <style>
    nav {
      background-color: #333;
      color: #fff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .site-title {
      font-weight: bold;
      font-size: 18px;
      margin-right: auto;
      margin-left: 20px;
    }

    .page-heading {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      display: flex;
      align-items: center;
    }

    .page-heading span {
      margin-left: 10px;
      font-size: 14px;
      font-weight: normal;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    nav a:not(:last-child)::after {
      content: "|";
      margin-left: 5px;
    }

    .note-preview {
      cursor: pointer;
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <nav>
    <span class="site-title">Carla's Seizure Tracking</span>
    <a href="/">Seizures</a>
    <a href="/register">Register Seizure</a>
    <a href="/statistics">Statistics</a>
  </nav>
  <div class="container">
    <!-- Edit Modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Edit Record</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editForm">
              <div class="mb-3">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="date" required>
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <select class="form-select" id="location" name="location" required>
                  <option value="School">School</option>
                  <option value="Home">Home</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="severity" class="form-label">Severity</label>
                <select class="form-select" id="severity" name="severity" required>
                  <option value="Mild">Mild</option>
                  <option value="Moderate">Moderate</option>
                  <option value="Severe">Severe</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="duration" class="form-label">Duration</label>
                <select class="form-select" id="duration" name="duration" required>
                  <option value="Few hours">Few hours</option>
                  <option value="Half day">Half day</option>
                  <option value="Full day">Full day</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="vomiting" class="form-label">Vomiting</label>
                <select class="form-select" id="vomiting" name="vomiting" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="calledHome" class="form-label">Called Home</label>
                <select class="form-select" id="calledHome" name="calledHome" required>
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
                  <option value="N/A">N/A</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="trigger" class="form-label">Trigger</label>
                <select class="form-select" id="trigger" name="trigger" required>
                  <option value="Unknown">Unknown</option>
                  <option value="Stress">Stress</option>
                  <option value="Chock">Chock</option>
                  <option value="Illness">Illness</option>
                  <option value="Spontaneous">Spontaneous</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="note" class="form-label">Note</label>
                <textarea class="form-control" id="note" name="note" rows="3"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="saveButton">Save</button>
            <button type="button" class="btn btn-secondary" id="cancelButton" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <h1 class="page-heading">Seizures <span id="totalRecords"></span></h1>
    <div id="tableDiv"></div>

    <!-- Complete Data Modal -->
    <div class="modal fade" id="completeDataModal" tabindex="-1" aria-labelledby="completeDataModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="completeDataModalLabel">Complete Record</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div id="completeDataContainer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/dbData.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
  <script>
    // Fetch total record count
    function fetchTotalRecordCount() {
      fetch('/api/data')
        .then((response) => response.json())
        .then((data) => {
          const totalRecordsElement = document.getElementById('totalRecords');
          totalRecordsElement.textContent = `(${data.length})`;
        })
        .catch((error) => {
          console.log('Error fetching total record count:', error);
        });
    }

    // Fetch initial table data on page load
    fetchTableData();

    // Handle modal hide event
    const editModal = document.getElementById('editModal');
    editModal.addEventListener('hidden.bs.modal', () => {
      unlockPage();
    });

  // Open Complete Data modal on note click
  tableDiv.addEventListener('click', (event) => {
    const clickedElement = event.target;
    // Check if the clicked element is a note
    if (clickedElement.classList.contains('note-preview')) {
      const row = clickedElement.closest('tr');
      if (row) {
        const completeDataModal = new bootstrap.Modal(document.getElementById('completeDataModal'));
        completeDataModal.show();
        showCompleteData(row);
      }
    }
  });

    function showCompleteData(row) {
      const completeDataContainer = document.getElementById('completeDataContainer');
      completeDataContainer.innerHTML = '';

      const rowData = Array.from(row.cells).map((cell) => cell.textContent);

      const table = document.createElement('table');
      table.classList.add('table');

      const tbody = document.createElement('tbody');

      rowData.forEach((data, index) => {
        const row = document.createElement('tr');

        const header = document.createElement('th');
        header.textContent = rowHeaders[index];
        row.appendChild(header);

        const cell = document.createElement('td');
        cell.textContent = data;
        row.appendChild(cell);

        tbody.appendChild(row);
      });

      table.appendChild(tbody);
      completeDataContainer.appendChild(table);
    }
  </script>
</body>
</html>
